@model Arabjobs.Models.ApplyForJob

@{
    ViewBag.Title = "DetailsOfJob";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل الوظيفة التي تقدمت اليها</h2>

<div>
    @*<h4>ApplyForJob</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job.JobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.JobName)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("العودة الي الوظائف التي تقدمت اليها", "GetJobsByUser")
</p>
