@model Arabjobs.Models.RegisterViewModel
@{
    ViewBag.Title = "تسجيل الاشتراك";
}

<h2>@ViewBag.Title.</h2>
<div class="alert alert-danger" id="error-div" style="display:none">
    <span id="view-er"></span>
</div>
@*@using (Html.BeginForm("Create", "Jobs", FormMethod.Post, new { enctype = "multipart/form-data" }))*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", }))
{
    @Html.AntiForgeryToken()
    <h4>انشاء حساب جديد.</h4>
    <hr/>

    <div class="form-horizontal">
    
    @Html.ValidationSummary("", new {@class = "text-danger"})

    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})

        <div class="col-md-10">

            @Html.TextBoxFor(f => f.UserName, new {@class = "form-control"})
        </div>

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserImage, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            <input type="file" name="uploadUserImage" id="Userimage"/>
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(m => m.UserType, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownList("UserType",null, new {@class = "form-control"})
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-4 " style="margin-top: 30px">
            <input type="submit" class="btn btn-success" value="تسجيل" style="width:400px" id="asd"/>
        </div>
    </div>
</div>
}
@section scripts{
    <script>
        $("#asd").click(function() {
            if ($("#Userimage").val() == "") {
                $("#error-div").fadeIn();
                $("#view-er").append("الرجاء قم باختيار صورة للوظيفة");
                return false;
            }
            if ($("#Userimage").val() != "") {
                //$("#btn").click(function () {
                //    //سنتحقق من الانبوت فايل اذا كان فارغا 
                //    $("#error-div").fadeIn("slow");
                //    $("#view-er").append("الرجاء ادخال صورة");
                //    return false;

                //check if image extension is falid
                var filename = document.getElementById("Userimage").value;
                // the use of (substr) if filename= asd.png ,the extension value wil be(.png)and +1 will make it =>(png)
                var extensionImage = filename.substr(filename.lastIndexOf('.') + 1);
                var validExtensions = ['png', 'gif', 'jpg', 'bmp'];
                //تستخدم لمقارنة قيمة داخل قيمة inArray()
                if ($.inArray(extensionImage, validExtensions) == -1) {
                    $("#error-div").fadeIn("slow");
                    $("#view-er").append("الرجاء ادخال صورة بامتداد صحيح");
                    return false;
                }
                //check if the image size is falid
                var myfilesize = document.getElementById("Userimage").files[0].size / 1024 / 1024;
                if (myfilesize > 1) {
                    $("#error-div").fadeIn("slow");
                    $("#view-er").append("الرجاء ادخال صورة اقل من 2ميجا");
                    return false;

                }
            }
        });
    </script> 
    }
